<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Com.Airbnb.Xamarin.Forms.Lottie" version="1.5.2.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable45-net45+win8+wp8" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="portable45-net45+win8+wp8" />
  <package id="UXDivers.Artina.Shared" version="2.0.52" targetFramework="portable45-net45+win8+wp8" />
  <package id="UXDivers.Artina.Shared.Base" version="2.0.52" targetFramework="portable45-net45+win8+wp8" />
  <package id="UXDivers.Effects" version="0.6.0" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarintvos10+xamarinwatchos10+xamarinios10" />
  <package id="Xam.Plugins.Settings" version="2.5.8" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.FFImageLoading" version="2.2.9" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.2.9" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.FFImageLoading.Transformations" version="2.2.9" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="portable45-net45+win8+wp8" />
</packages>